#firstSum,
#secondSum,
#thirdSum,
#fourthSum,
#fifthSum,
#sixSum
{
    background-color: rgb(201, 130, 8);
    border-radius: 10px;
}

/* .question-title h1 {
    font-size: 1.2rem;
} */

/* 
#answer-a,
#answer-b,
#answer-d {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#answer-c {
    font-size: 0.95rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
} */